---
interface Props {
	// Additional custom props can be added here
	id: string;
	className?: string;
}

const { id, className } = Astro.props;
---

<style>
	.section {
		padding: 70px 5%;
	}

	.content {
		max-width: 980px;
		margin: 0 auto;
		container-type: normal;
	}

	.section:global(.full-width) .content {
		max-width: none;
	}
</style>

<section id={id} class={`section section-${id} ${className}`}>
	<div class="content">
		<slot />
	</div>
</section>