---
import "../styles/reset.css";
import "../styles/globals.css";
import Navigation from "../components/Navigation.astro";
import Footer from '../components/Footer.astro'
---
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	html {
		scrollBehavior: 'smooth';
	}
</style>

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="ARK | Your IT Sanctuary – Professional managed service provider delivering 24/7 US-based IT support, networking, VoIP, cybersecurity, cloud solutions, and helpdesk. We safeguard your business from digital threats and ensure reliable, secure operations.">
		<title>ARK | Your IT Sanctuary</title>
	</head>
	<body>
		<Navigation />
		<main class="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
